## Exploratory Data Analysis

This workflow explores the underlying world development data and provides commentary and observations.

The workflow is intended for exploration and documentation. A separate visualization workflow is intended for presenting final findings and recommendations.

In [2]:
import pandas as pd

life_expectancy = pd.read_csv('../data/life_expectancy_cleaned.csv', index_col = 'country')
population = pd.read_csv('../data/population_cleaned.csv', index_col = 'country')
gni = pd.read_csv('../data/gni_per_capita_cleaned.csv', index_col = 'country')

gni_title = "Per Capita GNI (Gross National Income)"
life_expectancy_title = "Life Expectancy"
population_title = "Population"

datasets = {
    gni_title: gni,
    life_expectancy_title: life_expectancy,
    population_title: population
}

print('successfully loaded cleaned datasets.')

successfully loaded cleaned datasets.

In [5]:
all_data = pd.read_csv('../data/world_development_data.csv')
years = sorted(list(all_data.year.unique()))
countries = sorted(list(all_data.country.unique()))
print(f'{len(countries)} countries from {min(years)} to {max(years)} ({1 + max(years) - min(years)} years)')

190 countries from 1923 to 2023 (101 years)

In [23]:
# 1. Summary statistics
print("Summary Statistics :")
for index, (name, data) in enumerate(datasets.items()):
    print(name, ':')
    print(data.T.describe())
    if index != len(datasets) - 1:
        print('\n---\n')

Summary Statistics :
Per Capita GNI (Gross National Income) :
country  Afghanistan       Angola      Albania  United Arab Emirates  \
count     101.000000   101.000000   101.000000            101.000000
mean      416.732673  1730.534653  1648.287129          34416.336634
std       106.017818  1089.116289  1668.142244          16895.415220
min       151.000000   502.000000   447.000000           9550.000000
25%       380.000000  1020.000000   503.000000          16900.000000
50%       407.000000  1370.000000   998.000000          38500.000000
75%       456.000000  2140.000000  1400.000000          47400.000000
max       728.000000  5530.000000  5950.000000          67000.000000

country     Argentina      Armenia  Antigua and Barbuda     Australia  \
count      101.000000   101.000000           101.000000    101.000000
mean      6863.168317  1531.881188          7398.118812  24853.267327
std       3307.840060  1337.753664          5666.655224  17689.612438
min       3000.000000   172.000000          1560.000000   6680.000000
25%       4160.000000   559.000000          2540.000000  11400.000000
50%       5890.000000  1170.000000          4410.000000  19700.000000
75%       9070.000000  1550.000000         13900.000000  31800.000000
max      14400.000000  4750.000000         18700.000000  74000.000000

country       Austria   Azerbaijan  ...   Uzbekistan  \
count      101.000000   101.000000  ...   101.000000
mean     25123.168317  1204.584158  ...  1186.376238
std      18668.035029  2107.123097  ...   665.564811
min       2970.000000    38.000000  ...   238.000000
25%       6870.000000   129.000000  ...   585.000000
50%      21200.000000   279.000000  ...  1090.000000
75%      42100.000000   806.000000  ...  1670.000000
max      59500.000000  8540.000000  ...  3100.000000

country  St. Vincent and the Grenadines     Venezuela      Vietnam  \
count                        101.000000    101.000000   101.000000
mean                        3281.485149   5292.544554   648.039604
std                         2328.754769   3232.918952   714.546093
min                         1120.000000    897.000000   194.000000
25%                         1370.000000   2850.000000   296.000000
50%                         1990.000000   5170.000000   327.000000
75%                         5040.000000   6500.000000   537.000000
max                         7890.000000  14400.000000  3150.000000

country      Vanuatu        Samoa        Yemen  South Africa       Zambia  \
count     101.000000   101.000000   101.000000    101.000000   101.000000
mean     1616.217822  1560.841584   621.148515   4478.910891   671.831683
std       858.520875  1230.705186   347.513032   2003.114026   411.913633
min       647.000000   579.000000   279.000000   1260.000000   323.000000
25%       898.000000   775.000000   327.000000   2820.000000   352.000000
50%      1250.000000   943.000000   517.000000   4720.000000   577.000000
75%      2080.000000  1850.000000   859.000000   5540.000000   681.000000
max      3520.000000  4570.000000  1610.000000   9490.000000  1990.000000

country     Zimbabwe
count     101.000000
mean      914.960396
std       372.585666
min       400.000000
25%       557.000000
50%       809.000000
75%      1240.000000
max      1550.000000

[8 rows x 190 columns]

---

Life Expectancy :
country  Afghanistan      Angola     Albania  United Arab Emirates  \
count     101.000000  101.000000  101.000000            101.000000
mean       48.383168   48.640594   62.355446             60.392079
std         8.023491    7.897559   15.432229             11.893147
min        37.700000   37.000000   32.900000             39.000000
25%        42.000000   44.500000   50.500000             52.000000
50%        45.900000   47.200000   69.300000             65.400000
75%        54.700000   51.700000   74.800000             69.100000
max        64.600000   66.400000   79.000000             74.400000

country   Argentina     Armenia  Antigua and Barbuda   Australia     Austria  \
count    101.000000  101.000000           101.000000  101.000000  101.000000
mean      67.505941   60.824752            64.519802   73.485149   69.487129
std        7.062037   13.938267            12.415515    6.283811   10.465187
min       52.700000   21.100000            35.400000   62.000000   31.400000
25%       63.500000   49.600000            56.500000   69.000000   63.200000
50%       67.300000   66.800000            69.800000   71.900000   71.100000
75%       73.700000   71.800000            74.500000   79.100000   77.900000
max       77.200000   76.300000            76.800000   83.500000   82.800000

country  Azerbaijan  ...  Uzbekistan  St. Vincent and the Grenadines  \
count    101.000000  ...  101.000000                      101.000000
mean      52.973267  ...   57.885149                       60.534653
std       17.050688  ...   13.161029                       13.381730
min       17.100000  ...   19.100000                       29.000000
25%       35.300000  ...   51.000000                       51.800000
50%       62.800000  ...   64.900000                       65.800000
75%       66.900000  ...   66.900000                       71.000000
max       71.400000  ...   69.400000                       73.500000

country   Venezuela     Vietnam     Vanuatu       Samoa       Yemen  \
count    101.000000  101.000000  101.000000  101.000000  101.000000
mean      62.207921   57.390099   52.602970   57.492079   47.419802
std       14.260930   15.800737   13.400481   14.027998   14.992678
min       34.000000   17.100000   26.900000   29.000000   29.000000
25%       55.200000   47.400000   44.900000   51.300000   31.600000
50%       66.600000   58.600000   58.400000   63.200000   46.600000
75%       73.500000   71.700000   63.300000   68.000000   62.500000
max       75.700000   74.900000   66.000000   71.000000   68.500000

country  South Africa      Zambia    Zimbabwe
count       101.00000  101.000000  101.000000
mean         54.20000   48.691089   51.951485
std           8.02602    8.418778    8.754035
min          37.80000   35.600000   36.500000
25%          50.60000   42.900000   46.600000
50%          55.20000   49.600000   54.800000
75%          60.20000   55.100000   58.700000
max          66.10000   64.200000   63.600000

[8 rows x 190 columns]

---

Population :
country   Afghanistan        Angola       Albania  United Arab Emirates  \
count    1.010000e+02  1.010000e+02  1.010000e+02          1.010000e+02
mean     1.456267e+07  1.106802e+07  2.217822e+06          2.203899e+06
std      9.848732e+06  9.139161e+06  8.808082e+05          3.145488e+06
min      6.410000e+06  2.940000e+06  9.570000e+05          5.830000e+04
25%      7.670000e+06  4.320000e+06  1.210000e+06          7.210000e+04
50%      1.040000e+07  6.580000e+06  2.520000e+06          4.420000e+05
75%      1.850000e+07  1.540000e+07  2.990000e+06          2.920000e+06
max      4.220000e+07  3.670000e+07  3.300000e+06          9.520000e+06

country     Argentina       Armenia  Antigua and Barbuda     Australia  \
count    1.010000e+02  1.010000e+02           101.000000  1.010000e+02
mean     2.637436e+07  2.335248e+06         60600.960396  1.388366e+07
std      1.111992e+07  8.545520e+05         18632.081448  6.212876e+06
min      9.610000e+06  1.070000e+06         29900.000000  5.590000e+06
25%      1.640000e+07  1.340000e+06         44400.000000  7.890000e+06
50%      2.500000e+07  2.710000e+06         64000.000000  1.350000e+07
75%      3.620000e+07  3.070000e+06         72600.000000  1.860000e+07
max      4.580000e+07  3.620000e+06         94300.000000  2.640000e+07

country       Austria    Azerbaijan  ...    Uzbekistan  \
count    1.010000e+02  1.010000e+02  ...  1.010000e+02
mean     7.498119e+06  5.821881e+06  ...  1.555030e+07
std      6.935022e+05  2.632946e+06  ...  9.693004e+06
min      6.530000e+06  2.440000e+06  ...  4.820000e+06
25%      6.900000e+06  3.060000e+06  ...  6.050000e+06
50%      7.550000e+06  5.730000e+06  ...  1.310000e+07
75%      7.980000e+06  8.039999e+06  ...  2.430000e+07
max      8.960000e+06  1.040000e+07  ...  3.520000e+07

country  St. Vincent and the Grenadines     Venezuela       Vietnam  \
count                        101.000000  1.010000e+02  1.010000e+02
mean                       87887.128713  1.453545e+07  5.044653e+07
std                        25618.488103  9.527561e+06  2.755485e+07
min                        41500.000000  3.350000e+06  1.770000e+07
25%                        60200.000000  5.150000e+06  2.380000e+07
50%                       102000.000000  1.240000e+07  4.490000e+07
75%                       110000.000000  2.350000e+07  7.710000e+07
max                       114000.000000  3.070000e+07  9.890000e+07

country        Vanuatu          Samoa         Yemen  South Africa  \
count       101.000000     101.000000  1.010000e+02  1.010000e+02
mean     128295.039604  136552.465347  1.181624e+07  2.879079e+07
std       83926.680794   52970.712265  9.070466e+06  1.734511e+07
min       49400.000000   43900.000000  3.630000e+06  7.610000e+06
25%       58100.000000   84200.000000  4.590000e+06  1.250000e+07
50%       95700.000000  150000.000000  7.420000e+06  2.440000e+07
75%      183000.000000  180000.000000  1.760000e+07  4.590000e+07
max      335000.000000  226000.000000  3.440000e+07  6.040000e+07

country        Zambia      Zimbabwe
count    1.010000e+02  1.010000e+02
mean     6.608218e+06  7.089703e+06
std      5.280342e+06  4.662393e+06
min      1.510000e+06  1.620000e+06
25%      2.230000e+06  2.670000e+06
50%      4.650000e+06  5.710000e+06
75%      9.370000e+06  1.150000e+07
max      2.060000e+07  1.670000e+07

[8 rows x 190 columns]

In [24]:
# 2. Standard deviation using dictionary comprehension
data = datasets['Population']
print('Population standard deviations by year:')
sd = { year:f'{int(countries.std()):,}' for year, countries in data.items() }
sd

Population standard deviations by year:

{'1923': '42,279,462',
 '1924': '42,539,915',
 '1925': '42,814,093',
 '1926': '43,019,267',
 '1927': '43,295,231',
 '1928': '43,571,125',
 '1929': '43,835,664',
 '1930': '44,152,732',
 '1931': '44,458,035',
 '1932': '44,858,976',
 '1933': '45,222,433',
 '1934': '45,625,768',
 '1935': '46,016,356',
 '1936': '46,422,160',
 '1937': '46,827,756',
 '1938': '47,180,438',
 '1939': '47,547,151',
 '1940': '47,834,632',
 '1941': '48,055,708',
 '1942': '48,234,818',
 '1943': '48,323,382',
 '1944': '48,369,159',
 '1945': '48,512,635',
 '1946': '48,621,493',
 '1947': '48,735,934',
 '1948': '48,896,602',
 '1949': '49,141,471',
 '1950': '49,596,223',
 '1951': '50,541,785',
 '1952': '51,542,095',
 '1953': '52,591,935',
 '1954': '53,759,977',
 '1955': '54,930,073',
 '1956': '56,102,595',
 '1957': '57,333,679',
 '1958': '58,557,004',
 '1959': '59,489,823',
 '1960': '60,089,221',
 '1961': '60,629,228',
 '1962': '61,724,272',
 '1963': '63,313,544',
 '1964': '65,005,921',
 '1965': '66,599,342',
 '1966': '68,181,899',
 '1967': '69,711,326',
 '1968': '71,298,851',
 '1969': '73,030,801',
 '1970': '74,866,612',
 '1971': '76,568,342',
 '1972': '78,288,896',
 '1973': '79,967,991',
 '1974': '81,559,996',
 '1975': '83,103,247',
 '1976': '84,502,128',
 '1977': '85,972,714',
 '1978': '87,307,596',
 '1979': '88,730,452',
 '1980': '90,256,422',
 '1981': '91,854,703',
 '1982': '93,329,254',
 '1983': '95,241,910',
 '1984': '96,595,799',
 '1985': '98,511,873',
 '1986': '100,475,777',
 '1987': '102,413,668',
 '1988': '104,382,500',
 '1989': '105,793,566',
 '1990': '107,763,120',
 '1991': '109,774,072',
 '1992': '111,238,255',
 '1993': '113,212,207',
 '1994': '114,671,915',
 '1995': '116,150,827',
 '1996': '117,613,347',
 '1997': '119,009,326',
 '1998': '120,535,726',
 '1999': '122,065,060',
 '2000': '123,067,567',
 '2001': '124,603,058',
 '2002': '126,141,085',
 '2003': '127,687,642',
 '2004': '129,231,717',
 '2005': '129,799,497',
 '2006': '131,349,173',
 '2007': '132,899,355',
 '2008': '134,455,936',
 '2009': '135,559,510',
 '2010': '137,105,485',
 '2011': '138,680,192',
 '2012': '139,791,685',
 '2013': '141,354,047',
 '2014': '142,918,303',
 '2015': '143,532,957',
 '2016': '145,110,220',
 '2017': '146,203,085',
 '2018': '147,781,488',
 '2019': '148,388,883',
 '2020': '149,465,277',
 '2021': '150,549,332',
 '2022': '151,159,751',
 '2023': '151,765,443'}

In [25]:
# 3. Investigation

# For each data set, look at:
# - Top 10 of the century (by highest avg)
# - Most improved of the century (by highest max:min ratio)
n = 10

def top_countries(data: pd.DataFrame) -> pd.DataFrame:
    top = data.agg(['mean', 'max', 'min'], axis = 1)
    return top.sort_values(by = 'mean', ascending = False).head(n)

def bottom_countries(data: pd.DataFrame) -> pd.DataFrame:
    top = data.agg(['mean', 'min', 'max'], axis = 1)
    return top.sort_values(by = 'mean', ascending = True).head(n)
    
def most_changed_countries(data: pd.DataFrame) -> pd.DataFrame:
    minmax = data.agg(['max', 'min'], axis = 1)
    minmax['max:min'] = minmax['max'] / minmax['min']
    minmax = minmax.iloc[:, [2,0,1]]
    return minmax.sort_values(by = 'max:min', ascending = False).head(n)

# Utility methods for outputting data:
def format_growth_rate(data: pd.DataFrame) -> pd.DataFrame:
    # Given a data frame from most_changed_countries, format its max:min column as a multiplier.
    # E.g.: 16.289456 -> '16.3x'
    # Note that this converts the underlying data to string, preventing further analysis. Perform this operation only as a final step before presenting data.
    data['max:min'] = data['max:min'].map(describe_float).map(lambda v: v + 'x')
    return data

def describe_int(value) -> str:
    # Given a numeric value, output the number in a way intended for large integers, using K/M/B suffices for thousands/millions/billions.
    # E.g.: 1_234_567.0 -> '1.2M'
    if type(value) == str:
        return value
    if value >= 1_000_000_000:
        return f'{value / 1_000_000_000:,.1f}B'
    if value >= 1_000_000:
        return f'{value / 1_000_000:,.1f}M'
    if value >= 1_000:
        return f'{value / 1_000:,.1f}K'
    return f'{int(value):,}'

def describe_float(value) -> str:
    # Outputs fractional numbers in abbreviated format for display, limiting their number of trailing decimals.
    if type(value) == str:
        return value
    return f'{float(value):,.2f}'

print(f'Top {n} Population (by mean):')
print(top_countries(population).map(describe_int))

print('\n\n')
print(f'Top {n} Population Growth Rate:')
print(most_changed_countries(population).pipe(format_growth_rate).map(describe_int))

Top 10 Population (by mean):
                 mean     max     min
country
China          900.5M    1.4B  470.0M
India          712.5M    1.4B  308.0M
United States  212.9M  340.0M  109.0M
Indonesia      140.6M  278.0M   49.0M
Russia         123.8M  149.0M   79.9M
Brazil         112.1M  216.0M   29.3M
Japan          103.0M  128.0M   58.7M
Pakistan        93.3M  240.0M   22.9M
Bangladesh      83.4M  173.0M   29.0M
Nigeria         82.1M  224.0M   23.9M



Top 10 Population Growth Rate:
                      max:min     max     min
country
United Arab Emirates  163.29x    9.5M   58.3K
Qatar                 150.27x    2.8M   18.7K
Jordan                 55.67x   11.3M  203.0K
Kuwait                 37.63x    4.4M  118.0K
Djibouti               24.89x    1.1M   45.8K
Israel                 18.83x    9.2M  487.0K
Papua New Guinea       18.80x   10.3M  548.0K
Cote d'Ivoire          16.24x   28.9M    1.8M
Brunei                 16.06x  453.0K   28.2K
Niger                  15.91x   27.2M    1.7M

### Observations - Population

#### India + China Are Most Populous
**China** and **India** unsurprisingly dominate the list of most populous countries, with **USA** at a distant 3rd place. All of the most populous countries show a somewhat steady growth rate, with the minimum and maximum population coinciding with the oldest and most recent measurement. **India has recently taken the position of most populous country**, so we need to measure by average instead of by current value for China to take the #1 spot.

#### United Arab Emirates, Qatar, and Middle Eastern Countries Have Grown Most Rapidly
Showing countries that have grown the most over the last century yields a far more surprising and interesting result. The neighboring **United Arab Emirates** and **Qatar** boast by far the most prolific growth rates, having grown their population by over 150x in the last century. Also surprising is the fact that the list of fastest-growing countries is dominated by Middle Eastern countries. All countries that feature prominently on the growth rate list have quite low minimum populations, which may suggest population expansion from an initially small land mass or substantial population reduction due to conflict or disaster. Establishing the reasons for these explosions in population, though interesting, is outside of the scope of this project.

In [26]:
print(f'Life Expectancy - Top {n} (by mean):')
print(top_countries(life_expectancy).map(describe_float))

print('\n\n')
print(f'Life Expectancy - Top {n} (by growth rate):')
print(most_changed_countries(life_expectancy).pipe(format_growth_rate).map(describe_float))

print('\n\n')
print(f'Life Expectancy - Bottom {n} (by mean):')
print(bottom_countries(life_expectancy).map(describe_float))

Life Expectancy - Top 10 (by mean):
                 mean    max    min
country
Sweden          74.42  83.40  61.70
Norway          74.21  83.50  62.00
Iceland         74.07  84.70  54.30
Netherlands     73.73  82.30  55.50
Switzerland     73.52  84.50  59.50
Australia       73.49  83.50  62.00
Denmark         72.83  81.70  61.40
Canada          72.69  82.80  57.10
New Zealand     72.37  82.40  57.80
United Kingdom  71.94  81.60  57.80



Life Expectancy - Top 10 (by growth rate):
                max:min    max    min
country
Kazakhstan       17.28x  72.40   4.19
Ukraine           7.69x  74.40   9.68
Rwanda            7.35x  69.80   9.50
Lithuania         6.10x  76.80  12.60
Turkmenistan      5.17x  71.30  13.80
Poland            5.11x  78.70  15.40
Belarus           5.10x  74.50  14.60
Pakistan          4.89x  66.50  13.60
Kyrgyz Republic   4.84x  74.00  15.30
Russia            4.59x  73.50  16.00



Life Expectancy - Bottom 10 (by mean):
                           mean    min    max
country
Guinea-Bissau             42.50  28.60  62.20
Malawi                    42.96  29.00  66.30
Ethiopia                  43.80  23.00  70.30
Mali                      44.38  32.20  63.30
Burundi                   44.45  17.10  65.20
Niger                     44.52  32.50  63.90
Central African Republic  45.00  36.70  53.60
Eritrea                   45.08  32.60  65.10
Rwanda                    45.11   9.50  69.80
Burkina Faso              45.34  33.10  63.30

### Observations - Life Expectancy

#### Life Expectancy is On The Rise
We can rejoice in the fact that **worldwide life expectancy has increased significantly over the past century**. With the exception of limited periods of very low life expectancy that suggest historic atrocities, the overall trend of upward movement in life expectancy is generally universal and constant.

#### The Life Expectancy Gap Has Narrowed
Countries with the lowest life expectancies have shown the greatest gains - 6 of the 10 countries with the lowest life expectancies have more than doubled their life expectancies over the last century. Moreover, while life expectancies around the world ranged from about 30-60 years in 1923, they currently range from about 63-84 years - a much narrower gap.

#### Some Years Show Alarmingly Low Life Expectancy
When we look at countries who have improved life expectancy the most, we find countries with exceptionally low life expectancies. In the most extreme case, **Kazakhstan's average life expectancy was 4.2 years in 1933**. The presence of such alarmingly low life expectancies also suggests that looking for exceptionally low life expectancies in world data could be an effective method for discovering historic atrocities.

#### Life Expectancy Lists Resemble GNI Lists
The top of the list of life expectancies is dominated by small first-world European countries such as **Sweden, Norway, and Iceland** that also fare well in per-capita wealth. Meanwhile the bottom of the list is dominated by 3rd-world, predominantly African countries such as **Ethiopia**. This suggests that wealth and life expectancy are linked.

Note that USA did not make it onto the list of top 10 countries with the highest life expectancy.

In [27]:
print(f'GNI - Top {n} (by mean):')
print(top_countries(gni).map(describe_int))

print('\n\n')
print(f'GNI - Top {n} (by growth rate):')
print(most_changed_countries(gni).pipe(format_growth_rate).map(describe_float))

print('\n\n')
print(f'GNI - Bottom {n} (by mean):')
print(bottom_countries(gni).map(describe_int))

GNI - Top 10 (by mean):
                       mean     max    min
country
Switzerland           56.9K  103.0K  17.3K
Luxembourg            38.6K  106.0K   5.5K
Norway                37.5K  117.0K   5.8K
United States         34.8K   70.9K   9.9K
United Arab Emirates  34.4K   67.0K   9.6K
Sweden                33.3K   69.3K   7.5K
Denmark               32.7K   73.2K   8.3K
Qatar                 31.7K   89.3K    542
Japan                 28.2K   67.6K   4.7K
Netherlands           28.1K   64.5K   4.8K



GNI - Top 10 (by growth rate):
                   max:min        max       min
country
Iraq               232.84x  15,600.00     67.00
Azerbaijan         224.74x   8,540.00     38.00
Romania            170.59x  14,500.00     85.00
Qatar              164.76x  89,300.00    542.00
Equatorial Guinea  104.85x  17,300.00    165.00
Brunei              69.40x  50,800.00    732.00
Kuwait              62.00x  77,500.00  1,250.00
Oman                56.02x  22,800.00    407.00
Singapore           52.71x  62,200.00  1,180.00
South Korea         46.93x  35,900.00    765.00



GNI - Bottom 10 (by mean):
              mean  min   max
country
Burundi        283  157   450
Eritrea        285  147   698
Somalia        302  223   509
Malawi         313  171   618
Guinea-Bissau  320  116   815
Sierra Leone   324  210   772
Liberia        391   81   728
Mozambique     393  294   761
Tanzania       404  158  1.1K
Nepal          407  243  1.3K

### Observations - GNI

#### GNI Lists Resemble Life Expectancy Lists
The lowest and highest-ranking countries in the GNI list resemble those of countries ranked by life expectancy. More on this in our analysis of life expectancies.

#### Qatar and Singapore are Outliers
The data for **Qatar** and **Singapore** suggest that these countries are historic economic success cases worth investigating in more detail. Most countries that boast the highest economic growth rates come from extreme poverty, but have not risen to prominence on the world stage. Qatar and Singabore, however, show recent GNIs well above any other countries with the highest GNI growth rates - GNIs that are on par with first-world countries.